<!DOCTYPE html>
<html>
<head>
  <title><% title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<body >
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div >
            <div>
                <section id="header" class="top-header">
                  <%= render 'layouts/header'%>
                </section>

                <aside id="nav-container">
                   <%= render 'layouts/side_bar'%>
                </aside>
            </div>

            <div class="view-container">
                <section class="animate-fade-up">
                  <%= yield %>
                </section>
            </div>
        </div>


    </body>

</body>
</html>
